body {
    background-color: #000;
    font-family: 'DS-Digital', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digital-clock {
    color:#fff;
    display: flex;
    border-radius: 2rem;
    user-select: none;
    padding: 0 2rem;
    border: 0.5rem solid #2d2d2d;
    width: fit-content;
}

.week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    color: #2d2d2d;
    font-weight: bold;
    padding-right: 1.5rem;
}

.week .active {
    color: white;
}

.hour, .min, .dot {
    display: inline-block;
    font-size: 13rem;
}

.invisible {
    visibility: hidden;
}
